* {
	box-sizing: border-box;
}

:root {
	--bg: white;
	--text: black;
	--text-alt: red;
}

body {
	padding: 0px;
	margin: 0px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: larger;
	background-color: var(--bg);
	color: var(--text);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

em {
	font-style: normal;
}

.center {
	text-align: center;
}

a {
	color: var(--text-alt);
}

a:hover {
	color: var(--text);
}

em {
	color: var(--important);
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.content {
	width: min(600px, 100vw);
	margin: auto;
}
