#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  min-height: calc(100vh - 60px);
}

#herolinks {
  text-align: left;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

li {
  margin-top: 10px;
}